*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 100px;
  aspect-ratio: 1 / 1;
  border: 5px solid red;
  padding: 20px;
}